* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1rem = 10px
  font-family: Roboto;
  text-align: center;
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100vh;
  padding: 30px;

  &-about {
    height: 70vh;
  }

  &-projects {
    height: 55vh;
  }
}

.break {
  margin-top: 9rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
