* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Roboto;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.page {
  width: 100%;
  height: 100vh;
  padding: 30px;

  &-about {
    background: rgb(33, 33, 33);
    background: radial-gradient(
      circle,
      rgba(33, 33, 33, 1) 0%,
      rgba(20, 20, 20, 1) 100%
    );
    height: 80vh;
  }

  &-projects {
    background: rgb(16, 16, 24);
    background: radial-gradient(
      circle,
      rgba(16, 16, 24, 1) 0%,
      rgba(10, 11, 16, 1) 100%
    );
    height: 60vh;
  }
}

.break {
  padding: 30px;
  height: 25vh;
  background-color: #141414;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.fixed-nav {
  position: fixed;
  top: 50%;
  right: 10px;
  z-index: 2;

  & a.active {
    border-left: 2px solid #f5f5f5 !important;
  }

  & a:hover {
    border-left: 2px solid #f5f5f5 !important;
  }
}

blockquote {
  border-left: 5px solid #f5f5f5 !important;
}

.darken {
  filter: brightness(40%);
  width: 100vw;
}

.parallax-container {
  z-index: 1;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
